SHOPBANQUANAO_DATHAO/.vs

//SHOPBANQUANAO_DATHAO/CONTROLLER/bin
//SHOPBANQUANAO_DATHAO/CONTROLLER/obj

//SHOPBANQUANAO_DATHAO/DTO/bin
//SHOPBANQUANAO_DATHAO/DTO/obj

//SHOPBANQUANAO_DATHAO/MODEL/bin
//SHOPBANQUANAO_DATHAO/MODEL/obj

//SHOPBANQUANAO_DATHAO/SHOPBANQUANAO_DATHAO/obj
//SHOPBANQUANAO_DATHAO/SHOPBANQUANAO_DATHAO/bin